<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <!-- Config file path -->
    <add key="ConfigFilePath" value="PerfmonCounterList.cfg"/>
    <!-- SampleInterval = Perfmon sample interval in seconds-->
    <add key="SampleInterval" value="1"/>
    <!-- Log folder path -->
    <add key="LogFolder" value="c:\rbfg\log\perfmon"/>
    <!-- LoggingInterval = Logging interval in seconds-->
    <add key="LoggingInterval" value="1"/>
    <!-- LogRetention = Perfmon logs retention period in days-->
    <add key="LogRetention" value="30"/>
  </appSettings>
</configuration>